doctype html
html(lang="vi")
    head
        include jades/head.jade
        link(rel="stylesheet" href="css/index.css")

    body
        include jades/header.jade
        .page-body
            .container
                .row
                    .col-lg-3.pad-left
                        .content-one
                            .imformation-member
                                .member
                                    .avatar
                                        img(src="images/avatar.jpg")
                                    .name
                                        p Thành Đạt
                                    .text-imformation
                                        .item-text
                                            p Songs
                                            span.orange 6000
                                        .item-text
                                            p Friends
                                            span.orange 3000

                                .menu
                                    ul.menu-content
                                        li
                                            a(href="#") Home
                                        li
                                            a(href="#") My music
                                        li
                                            a(href="#") Friends
                                        li
                                            a(href="#") Genres
                            .content-item.d-none.d-sm-block
                                .news-feed__title
                                    h3
                                        | news feed
                                .news-feed__item
                                    .news-feed__item__member
                                        .feed__item__member
                                            img(src="images/avatar.jpg")
                                    .news-feed__item__content
                                        .news-feed__item__img
                                            img(src="http://cdn.shopify.com/s/files/1/1158/9490/products/C000007153-PAR-ZOOM_395b5fb0-dab6-47e3-99f3-a662b1205aef_800x.jpg?v=1524568121")
                                        .news-feed__item__content__title
                                            h4  ahihi ahihi
                                        .news-feed__item__content__text
                                            p Lorem ipsum dolor sit amet, con adipisicing elit consectetur adipisicing elit



                                .news-feed__item
                                    .news-feed__item__member
                                        .feed__item__member
                                            img(src="images/avatar.jpg")
                                    .news-feed__item__content
                                        .news-feed__item__name
                                            span.name Janice Harris
                                            span add new song
                                        .news-feed__item__content__ablum
                                            .content__ablum-avar
                                                img(src="images/1.jpg")
                                                .content__ablum-name
                                                    p.name LinKin Park
                                                    span Given up
                                            .content__ablum-all 320




                                .news-feed__item
                                    .news-feed__item__member
                                        .feed__item__member
                                            img(src="images/avatar.jpg")
                                    .news-feed__item__content
                                        .news-feed__item__name
                                            span.name Janice Harris
                                            span add new song
                                        .news-feed__item__content__ablum
                                            .content__ablum-avar
                                                img(src="images/1.jpg")
                                                .content__ablum-name
                                                    p.name LinKin Park
                                                    span Given up
                                            .content__ablum-all 320




                                .news-feed__item
                                    .news-feed__item__member
                                        .feed__item__member
                                            img(src="images/avatar.jpg")
                                    .news-feed__item__content
                                        .news-feed__item__name
                                            span.name Janice Harris
                                            span add new song
                                        .news-feed__item__content__ablum
                                            .content__ablum-avar
                                                img(src="images/1.jpg")
                                                .content__ablum-name
                                                    p.name LinKin Park
                                                    span Given up
                                            .content__ablum-all 320




                    .col-lg-6
                        .content-two
                            .banner
                                .item-banner
                                    img(src="https://photo-zmp3.zadn.vn/banner/4/f/3/3/4f33282d3ec07e7b9b03ba274d8546ca.jpg")
                                .item-banner
                                    img(src="https://photo-zmp3.zadn.vn/banner/5/d/3/f/5d3f1e195cf4b21fce299865d989eca6.jpg")


                                .item-banner
                                    img(src="https://photo-zmp3.zadn.vn/banner/b/1/d/f/b1df25c3aa136edf7c54a271bceef8fb.jpg")


                                .item-banner
                                    img(src="https://photo-zmp3.zadn.vn/banner/b/5/f/f/b5ffd7c091c08e4d9b60be1059307a35.jpg")


                            .header-search-wrap
                                form
                                   .header-search-group
                                       label
                                        i.fa.fa-search
                                        input.form-control.z-input-placeholder(type='text', autocomplete='off', aria-autocomplete='list', aria-controls='react-autowhatever-1', placeholder='Nhập tên bài hát, ca sĩ hoặc video…', value='')


                            .list-abum
                                .container
                                    .row
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/6/c/f/7/6cf75d7c4beb8ecf08ed9acaee53fd76.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/6/d/9/f/6d9f8bbb171c5727853980544995aec8.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/f/d/7/f/fd7fd5edd8992d1cd13dc319201922e0.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/e/9/c/e/e9ce125352b9936b249855db1fd64ae9.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/7/0/8/7/7087dea44528320ab6f04c49a4fe4c8d.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_png/covers/1/9/19a6a9085bc66dde26a8720afef6f892_1519271687.png")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/0/b/1/1/0b116bb3891a2cf00d1afeb46527ee2d.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/5/b/4/f/5b4fdb95bfad4abf755e8769bc5a68a6.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/5/a/7/f/5a7fc009546f90e7c96689607b9e62e0.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/e/b/a/a/ebaa3c788aed79aa3b33b27771bcf609.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/2/9/4/0/2940dc2ed3b50eff537569e52af657d8.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/6/d/9/f/6d9f8bbb171c5727853980544995aec8.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/d/4/2/3/d4232d40fcebf5a96803d98f49458026.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/6/d/9/f/6d9f8bbb171c5727853980544995aec8.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/6/d/9/f/6d9f8bbb171c5727853980544995aec8.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                                        .col-lg-3
                                            .abum-item
                                                .abum-img
                                                    img(src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/e/4/6/1/e4612681e56964cb5e534190e23156f0.jpg")
                                                .abum-text
                                                    p.title Awesome playlist or ablum
                                                    .all-song
                                                        .songs 56 songs
                                                        .like-song
                                                        i.fa.fa-heart  1300

                                                    .list-kind #rap #jazz #pop #rock...
                    .col-lg-3.pad-right
                        .content-three
                            .play-song
                                .background-song
                                    img(src="images/hoang-hon-1.jpg")
                                .play-pause
                                    i.fa.fa-random
                                    i.fa.fa-backward
                                    i.fa.fa-play.pause
                                    i.fa.fa-forward
                                    i.fa.fa-sync
                                .name-song
                                    p.text-name I Do
                                    span.author 911 Band

                            .list-song
                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name Vài phút trước
                                            span.author Vũ Cát tường
                                    .time-song 3.45
                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name Mình Yêu nhau từ kiếp nào
                                            span.author Quang trung
                                    .time-song 3.45
                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name Một bước yêu vạn dặm đau
                                            span.author Mr.siro
                                    .time-song 3.45
                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                    .time-song 3.45
                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                    .time-song 3.45
                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                    .time-song 3.45
                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                    .time-song 3.45

                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                    .time-song 3.45

                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                    .time-song 3.45

                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                    .time-song 3.45

                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                    .time-song 3.45

                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                    .time-song 3.45

                                .item-song
                                    .item-play
                                        i.fa.fa-play
                                        .name-song
                                            p.text-name I Do
                                            span.author 911 Band
                                    .time-song 3.45
                                    .time-song 3.45

        include jades/footer.jade
        script(type='text/javascript' src="js/libs/jquery-3.2.1.slim.min.js")
        script(type='text/javascript' src="js/libs/bootstrap-4.0.0.min.js")
        script(type="text/javascript" src="js/libs/slick.js")
        script(type="text/javascript" src="main.js")





